@import "reset"
@import 'nib'

body
  background-color:#fff
  font-size:18px
  padding:0

header
  width:100%
  font-family: "freight-sans-pro",sans-serif
  background-color:#e8e8e8;
  background: linear-gradient(top, #EDEDED 1%,#f4f4f4 100%)
  padding:1em 0 0.5em 0

  h1
    margin:0.3em
    font-size:2.5em
    text-align:center
    color:#252525
    font-weight:100

  h1:after
    display:block
    font-size:.8em
    content:"~"
    line-height:0.08em

  p
    font-size:0.9em
    text-align:center
    line-height:1.5em
    padding:0 5px
    margin:2em 0

    strong
      font-size:1.2em

  p:nth-child(2)
    a
      font-size:1.2em
      color:#fe3a1a
      font-weight:bold
      text-decoration:none

  p:last-child
    color:#666
    font-size:0.8em
    a
      color:#666
      text-decoration:none

  div
    width:960px
    margin:2em auto 2em auto

  div.show
    display:block

section
  text-align:left
  min-width:490px
  width:490px
  margin:0 auto
  padding:1em

  p
    font-size:1em
    margin:1.5em
    line-height:1.3em
    font-family: "freight-text-pro",sans-serif
    letter-spacing:1px

  p.right
    text-align:right

  h2
    width:100%
    text-align:center
    margin-top:0.4em
    margin-bottom:0.4em
    font-family: "maryam",cursive;
    font-weight:100
    font-size: 6em

@media screen and (max-width: 480px)
  header
    div,iframe
      display:none
      width:380px !important
      height:213px !important

  section
    max-width:280px
    min-width:280px
    padding:0em

    p
      margin:1.5em 0 1.5em 0
      width:100%
      font-size:0.8em
      //margin-left:40px

    h2
      width:100%
      font-size:4em
